Net "executein" LOC = B8 | IOSTANDARD = LVCMOS33;
Net "readin" LOC = D9 | IOSTANDARD = LVCMOS33;

Net "display<7>" LOC = T17 | IOSTANDARD = LVCMOS33;
Net "display<6>" LOC = T18 | IOSTANDARD = LVCMOS33;
Net "display<5>" LOC = U17 | IOSTANDARD = LVCMOS33;
Net "display<4>" LOC = U18 | IOSTANDARD = LVCMOS33;
Net "display<3>" LOC = M14 | IOSTANDARD = LVCMOS33;
Net "display<2>" LOC = N14 | IOSTANDARD = LVCMOS33;
Net "display<1>" LOC = L14 | IOSTANDARD = LVCMOS33;
Net "display<0>" LOC = M13 | IOSTANDARD = LVCMOS33;
Net "displayctl<3>" LOC = N16 | IOSTANDARD = LVCMOS33;
Net "displayctl<2>" LOC = N15 | IOSTANDARD = LVCMOS33;
Net "displayctl<1>" LOC = P18 | IOSTANDARD = LVCMOS33;
Net "displayctl<0>" LOC = P17 | IOSTANDARD = LVCMOS33;

Net "A<2>" LOC = T5 | IOSTANDARD = LVCMOS33;
Net "A<1>" LOC = V8 | IOSTANDARD = LVCMOS33;
Net "A<0>" LOC = U8 | IOSTANDARD = LVCMOS33;
Net "Bopcode<2>" LOC = N8 | IOSTANDARD = LVCMOS33;
Net "Bopcode<1>" LOC = M8 | IOSTANDARD = LVCMOS33;
Net "Bopcode<0>" LOC = V9 | IOSTANDARD = LVCMOS33;
Net "mode" LOC = T9 | IOSTANDARD = LVCMOS33;
NET "reset_n" LOC = T10 | IOSTANDARD = LVCMOS33;

Net "clk" LOC=V10 | IOSTANDARD=LVCMOS33;